@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 140px;
    background-color: #FFC300;
}

/* TecBlog Título */

header h1 {
    font-size: 2.2em;
}
.display-h1{
    position: relative;
    text-align: center;
    top: 20px;
}
.color-h1 {
    color: white;
}

/* Cabeçalho */

.div-cabecalho {
    position: relative;
    top: 38px;
    text-align: center;
}
.div-cabecalho a {
    color: white;
    padding: 11px;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}
.div-cabecalho a:hover {
    color: #FFC300;
    background-color: white;
    transition: 300ms;
}

/* Cartão Visita */

.div-card {
    position: absolute;
    background-color: #393B3E;
    width: 240px;
    height: 70px;
    padding: 5px;
    left: 1240px;
    top: 600px;
}
.div-card h2 {
    color: yellow;
    font-size: 1.3em;
    padding-top: 7px;
    padding-left: 8px;
}
.div-card p {
    color: white;
    padding-left: 8px;
}