*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 0;
    color: white;
    margin: 0;
    background-color: #FFC300;
    height: 190px;
}
.display-h1 {
    text-align: center;
    padding-top: 40px;
}
.display-h1 h1 {
    font-size: 2.5em;
    color: black;
}
.display-h1 span {
    color: white;
}
.display-item-header {
    margin-top: 30px;
    text-align: center;
}
.display-item-header a {
    font-size: 1.3em;
    font-weight: 700;
    color: white;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
.display-item-header a:hover {
    background-color: white;
    color: #FFC300;
    transition: 300ms;
}

/* section */

section {
    width: 980px;
    margin: 0 auto;
    margin-top: 35px;
}
.div-sec-1 {
    width: 650px;
    float: left;
}
.div-sec-2{
    width: 270px;
    float: right;
}

/* art-1 */

.display-img-1 {
    margin-top: 30px;
}

footer {
    width: 900px;
    background-color: #CCCCCC;
}