@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #FFC300;
    height: 180px;
}
#div-h1-header {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    top: 23px;
    text-align: center;
}
#span-blog-word {
    color: white;
}
.div-cabecalho {
    position: relative;
    display: inline-block;
    text-align: center;
    top: 30px;
}
.a-cabecalho{
    font-size: 20px;
    font-weight: 600;
}
